.form-markdown{
    display: flex;
}

.form-markdown textarea {
    width: 500px;
    height: 500px;
    margin-right: 15px;
}

.form-markdown .markdown-container {
    border: 1px black dashed ;
    width: 500px;
    height: 500px;
    border-radius: 10px 0px;
}